body {
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}
.container #interative-word {
  position: absolute;
  cursor: pointer;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  transition: .4s;
  color: white;
  box-shadow: inset 0px 0px 3px rgb(255, 255, 255), 0px 0px 10px rgb(255, 255, 255);
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  background-color: rgb(0, 194, 0);
  padding: 10px;
  border-radius: 5px;
  border: 2px solid white;
}