body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}
#container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  transition: .3s;
}
#container.show-error {
  background-color: rgb(175, 0, 0);

}
#container #interative-word {
  position: absolute;
  cursor: pointer;
  transition: .4s;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgb(0, 225, 255);
  box-shadow: 0 0 10px rgb(0, 225, 255);
  z-index: 10000;
}
#container #interative-word span {
  background: linear-gradient(to right, rgb(0, 225, 255), rgb(10, 26, 77));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
#container #error-message {
  text-align: center;
  padding-top: 2rem;
  transition: .6s;
  opacity: 0;
  transform: scale(0);
}
#container.show-error #error-message {
  opacity: 1;
  transform: scale(1);
}
#container #error-message span {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}